{% extends "../base.html" %}

{% block template %}


    
    <!-----------WHO WE ARE SECTION STARTS FROM HERE----------->
    <section class="whoweare-section">
        <div class="main-container">
            <div class="main-grid-who">
                <div class="left-grid-who">
                    <h5 class="mb-40">Who we are</h5>
                    <h2 class="mb-30">Khar-G Records. When Only The Best Will Do!</h2>
                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.</p>
                    <a class="red-button" href="#" title="button-call">
                        Learn More
                    </a>
                </div>
                <div class="right-grid">
                    <img src="assets/images/whoweare-1.png" alt="Studio" class="whoweare-1">
                    <img src="assets/images/whoweare-2.png" alt="Studio" class="whoweare-2">
                </div>
            </div>
        </div>
    </section>
    <!-----------WHO WE ARE SECTION ENDS HERE----------->


    <!-----------WHAT WE OFFER SECTION STARTS FROM HERE----------->
    <section class="whatweoffer-section">
        <div class="main-container">
            <div class="offer-mainhead">
                <h5 class="mb-15">What we offer</h5>
                <h2 class="mb-50">Professional Service</h2>
            </div>
        </div>
        <div class="main-offer-container-card">
            <div class="main-container">
                <div class="main-offer-card">
                    <div class="offer-card">
                        <div class="inner-card-content">
                            <img src="assets/images/mic.svg" alt="Microphone" class="mic-svg mb-20">
                            <h3 class="mb-20">Vocal Recording</h3>
                            <p class="mb-20">Praesent tristique cras quam vehicula quisque curabitur aliquet dignissim
                                placerat facilisis montes</p>
                            <a class="red-button" href="#" title="button-call">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="offer-card">
                        <div class="inner-card-content">
                            <img src="assets/images/mic.svg" alt="Microphone" class="mic-svg mb-20">
                            <h3 class="mb-20">Full song Recording</h3>
                            <p class="mb-20">Praesent tristique cras quam vehicula quisque curabitur aliquet dignissim
                                placerat facilisis montes</p>
                            <a class="red-button" href="#" title="button-call">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="offer-card">
                        <div class="inner-card-content">
                            <img src="assets/images/mic.svg" alt="Microphone" class="mic-svg mb-20">
                            <h3 class="mb-20">Beat Production</h3>
                            <p class="mb-20">Praesent tristique cras quam vehicula quisque curabitur aliquet dignissim
                                placerat facilisis montes</p>
                            <a class="red-button" href="#" title="button-call">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="offer-card">
                        <div class="inner-card-content">
                            <img src="assets/images/mic.svg" alt="Microphone" class="mic-svg mb-20">
                            <h3 class="mb-20">Mix / Master</h3>
                            <p class="mb-20">Praesent tristique cras quam vehicula quisque curabitur aliquet dignissim
                                placerat facilisis montes</p>
                            <a class="red-button" href="#" title="button-call">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="offer-card">
                        <div class="inner-card-content">
                            <img src="assets/images/mic.svg" alt="Microphone" class="mic-svg mb-20">
                            <h3 class="mb-20">Album Cover Design</h3>
                            <p class="mb-20">Praesent tristique cras quam vehicula quisque curabitur aliquet dignissim
                                placerat facilisis montes</p>
                            <a class="red-button" href="#" title="button-call">
                                Learn More
                            </a>
                        </div>
                    </div>
                    <div class="offer-card">
                        <div class="inner-card-content">
                            <img src="assets/images/mic.svg" alt="Microphone" class="mic-svg mb-20">
                            <h3 class="mb-20">Music Distribution / Promotion</h3>
                            <p class="mb-20">Praesent tristique cras quam vehicula quisque curabitur aliquet dignissim
                                placerat facilisis montes</p>
                            <a class="red-button" href="#" title="button-call">
                                Learn More
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-----------WHAT WE OFFER SECTION ENDS FROM HERE----------->


{% endblock %}    