{% extends "../base.html" %}
{% load static %}

{% block head_title %}Khalti Payment{% endblock %}



{% block template %}
{% include '../nav/nav.html' %}


    <!-- Place this where you need payment button -->
    <button class="bg-blue px-6 py-4 text-white" id="payment-button">Pay with Khalti</button>
    <!-- Place this where you need payment button -->
    <!-- Paste this code anywhere in you body tag -->
    <script>

    function verifyPayment(payload) {
            $.ajax({
                url: "{% url 'verify_payment' %}",
                type: "POST",
                data: payload,
                dataType: 'json',
                success: function (response) { alert(response) },
                error: function (error) { alert(error.responseJSON['message']) }
            });
        }

        var config = {
            // replace the publicKey with yours
            "publicKey": "test_public_key_616909a7486544fb8878328b09943722",
            "productIdentity": "1234567890",
            "productName": "BasicService",
            "productUrl": "http://127.0.0.1:8000/service/",
            "paymentPreference": [
                "KHALTI",
                "EBANKING",
                "MOBILE_BANKING",
                "CONNECT_IPS",
                "SCT",
                ],
            "eventHandler": {
                onSuccess (payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                },
                onError (error) {
                    console.log(error);
                },
                onClose () {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            // minimum transaction amount must be 10, i.e 1000 in paisa.
            checkout.show({amount: 1000});
        }
    </script>
    <!-- Paste this code anywhere in you body tag -->

{% endblock %}