{% extends "../base.html" %}
{% block template %}
<!-----------BANNER SWIPER SECTION STARTS HERE----------->
<section id="hero-section">
  <div class="hero-container heroSwiper">
    <div class="hero-main-content swiper-wrapper">
      <div class="swiper-slide">
        <div class="image-content">
          <div class="main-container">
            <div class="hero-content">
              <div class="heading-text">
                <h5 class="mb-15">Recording Your Passion</h5>
                <h1 class="mb-15">
                  Amazing Rooms, Excellent Gear, Exceptional Staff
                </h1>
                <p class="mb-35">
                  A mus tortor molestie eget suspendisse sagittis nibh felis
                  nullam commodo etiam per
                </p>
                <a class="red-button" href="services.html" title="button-call">
                  Book Now
                </a>
              </div>
              <a href="#" class="play-btn">
                <img src="assets/images/play.svg" alt="Play Now" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-content">
          <div class="main-container">
            <div class="hero-content">
              <div class="heading-text">
                <h5 class="mb-15">Recording Your Passion</h5>
                <h1 class="mb-15">
                  Amazing Rooms, Excellent Gear, Exceptional Staff
                </h1>
                <p class="mb-35">
                  A mus tortor molestie eget suspendisse sagittis nibh felis
                  nullam commodo etiam per
                </p>
                <a class="red-button" href="#" title="button-call">
                  Explore Now
                </a>
              </div>
              <a href="#" class="play-btn">
                <img src="assets/images/play.svg" alt="Play Now" />
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="image-content">
          <div class="main-container">
            <div class="hero-content">
              <div class="heading-text">
                <h5 class="mb-15">Recording Your Passion</h5>
                <h1 class="mb-15">
                  Amazing Rooms, Excellent Gear, Exceptional Staff
                </h1>
                <p class="mb-35">
                  A mus tortor molestie eget suspendisse sagittis nibh felis
                  nullam commodo etiam per
                </p>
                <a class="red-button" href="#" title="button-call">
                  Contact Us
                </a>
              </div>
              <a href="#" class="play-btn">
                <img src="assets/images/play.svg" alt="Play Now" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <form class="contact-form">
      <input
        type="text"
        name="name"
        placeholder="First Name"
        class="input-box"
      />
      <input
        type="text"
        name="name"
        placeholder="Last Name"
        class="input-box"
      />
      <input type="email" name="email" placeholder="Email" class="input-box" />
      <a href="#" class="red-button" title="Get Started"> Contact Us </a>
    </form>
  </div>
</section>
<!-----------BANNER SWIPER SECTION ENDS HERE----------->

{% endblock %}
