{% extends "../base.html" %}

{% load static %}


{% block template %}
{% include "../nav/nav.html"%}


    <!-----SUCCESSFULLY BOOKED-------->
    <section class="successfully-booked-section">
        <div class="main-container">
            <div class="successfully-booked-content">
                <img src="{% static 'images/successfully-booked-logo.png' %}" alt="">
                <h1>Successfully Booked, Lets Make a hit Champ</h1>
                <p>We will call you shortly....</p>
            </div>
        </div>
        <img src="assets/images/vector-round.svg" alt="" class="bg-vector">
    </section>
    <!-------------SUCCESSFULLY BOOKED HTML ENDS HERE------------------------>



    <!-----------WHO WE ARE SECTION STARTS FROM HERE----------->
    <section class="whoweare-section">
        <div class="main-container">
            <div class="main-grid-who">
                <div class="left-grid-who">
                    <h5 class="mb-40">Who we are</h5>
                    <h2 class="mb-30">Khar-G Records. When Only The Best Will Do!</h2>
                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.</p>
                    <a class="red-button" href="#" title="button-call">
                        Learn More
                    </a>
                </div>
                <div class="right-grid">
                    <img src="assets/images/whoweare-1.png" alt="Studio" class="whoweare-1">
                    <img src="assets/images/whoweare-2.png" alt="Studio" class="whoweare-2">
                </div>
            </div>
        </div>
    </section>
    <!-----------WHO WE ARE SECTION ENDS HERE----------->

    <!-----------ABOUT THE SERVICES SECTION HTML STARTS FROM HERE------------------>
    <section class="about-the-services">
        <div class="main-container">
            <div class="main-grid-aboutservices">
                <div class="left-grid-servicesabout">
                    <img src="assets/images/about-img.png" alt="About Services" class="about-services-img">
                    <div class="experience-box">
                        <h4>2+</h4>
                        <p>Years Experienced</p>
                    </div>
                </div>
                <div class="right-grid-servicesabout">
                    <h4 class="mb-15">About The Services</h4>
                    <h2 class="mb-30">If you want to lift yourself up, lift up someone else.</h2>
                    <p class="mb-50">Elit malesuada nam torquent dignissim sagittis pulvinar blandit ad. Ipsum placerat
                        augue mus nibh penatibus lectus potenti. Elementum erat libero aliquam laoreet quam fames velit
                        conubia. Elit nam nibh non pharetra laoreet iaculis himenaeos volutpat urna.</p>
                    <a class="red-button" href="#" title="button-call">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-----------ABOUT THE SERVICES SECTION HTML ENDS FROM HERE------------------------->

    <!----------WHY CHOOSE US SECTION HTML STARTS FROM HERE------------->
    <section class="why-choose-us">
        <div class="main-container">
            <div class="main-why-chooseus">
                <div class="left-choose-us">
                    <h5 class="mb-15">Why Choose Us</h5>
                    <h2 class="mb-15">IT TAKES TWO FLINTS TO MAKE A FIRE.</h2>
                    <p class="mb-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                        ullamcorper mattis, pulvinar dapibus leo.</p>
                    <a class="red-button" href="#" title="button-call">
                        Discover Service
                    </a>
                </div>
                <div class="right-choose-box">
                    <div class="service-card-box">
                        <img src="assets/images/users.svg" alt="Services" class="mb-15">
                        <h4 class="mb-15">PROFESSIONAL</h4>
                        <p>Sodales ante vestibulum lacinia suspendisse habitasse non</p>
                    </div>
                    <div class="service-card-box">
                        <img src="assets/images/users.svg" alt="Services" class="mb-15">
                        <h4 class="mb-15">EQUIPMENTS</h4>
                        <p>Sodales ante vestibulum lacinia suspendisse habitasse non</p>
                    </div>
                    <div class="service-card-box">
                        <img src="assets/images/users.svg" alt="Services" class="mb-15">
                        <h4 class="mb-15">QUALITY</h4>
                        <p>Sodales ante vestibulum lacinia suspendisse habitasse non</p>
                    </div>
                    <div class="service-card-box">
                        <img src="assets/images/users.svg" alt="Services" class="mb-15">
                        <h4 class="mb-15">24/7 SUPPORT</h4>
                        <p>Sodales ante vestibulum lacinia suspendisse habitasse non</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!----------WHY CHOOSE US SECTION HTML ENDS FROM HERE---------->

    <!------------JOIN THE FAMILY HTML SECTION HTML STARTS FROM HERE--------------->
    <section class="join-family-section">
        <div class="main-container">
            <div class="join-content">
                <h2 class="mb-15">INTERESTED IN JOIN THE OUR FAMILY ?</h2>
                <p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                    ullamcorper mattis, pulvinar dapibus leo.</p>
                <a class="red-button" href="#" title="button-call">
                    Discover Service
                </a>
            </div>
        </div>
    </section>
    <!-------------JOIN THE FAMILY HTML SECTION HTML STARTS FROM HERE------------------->

    <!------------FOOTER SECTION HTML STARTS FROM HERE----------------->
    <section class="footer-section">
        <div class="main-container">
            <div class="search-content">
                <p>Newsletter</p>
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Your Email">
                    <a href="#" class="search-img"><img src="assets/images/fly-plane.svg" alt="Click Me"></a>
                </div>
            </div>
            <div class="below-footer-content">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="social-media">
                    <a href="#"><img src="assets/images/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="assets/images/insta.svg" alt="Twitter"></a>
                    <a href="#"><img src="assets/images/youthhube.svg" alt="Youtube"></a>
                </div>
                <a href="#"><p>© Copyright 2023-NIRNAYA BHATTARAI</p></a>
            </div>
        </div>
    </section>
    <!-------------FOOTER SECTION HTML ENDS FROM HERE------------------>
    <!----------BODY HTML ENDS HERE------------>
{%endblock%}