   
   {% extends "../base.html" %}

   {% block template %}
   
   <!------------FOOTER SECTION HTML STARTS FROM HERE----------------->
    <section class="footer-section">
        <div class="main-container">
            <div class="search-content">
                <p>Newsletter</p>
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="Your Email">
                    <a href="#" class="search-img"><img src="assets/images/fly-plane.svg" alt="Click Me"></a>
                </div>
            </div>
            <div class="below-footer-content">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Portfolio</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <div class="social-media">
                    <a href="#"><img src="assets/images/facebook.svg" alt="Facebook"></a>
                    <a href="#"><img src="assets/images/insta.svg" alt="Twitter"></a>
                    <a href="#"><img src="assets/images/youthhube.svg" alt="Youtube"></a>
                </div>
                <a href="#"><p>© Copyright 2023-NIRNAYA BHATTARAI</p></a>
            </div>
        </div>
    </section>
    <!-------------FOOTER SECTION HTML ENDS FROM HERE------------------>

    {% endblock %}